{% extends "base.html" %}
{% block title %}Home - DefendersLab {% endblock %}

{% block content %}
  <h1 class="page-title">Welcome to our awesome lab, the place where you will learn and enjoy</h1>
  <p class="subtitle">Keep practicing, practice makes perfect.</p>
  <div class="text-center mt-4">
    <a href="/xss" class="btn custom-btn btn-lg">XSS Scanner</a>
    <a href="/scanner" class="btn custom-btn btn-lg">File Scanner</a>
    <a href="/threat-intel" class="btn custom-btn btn-lg">Threat Intellegence</a>
  </div>
{% endblock %}
